.aboutus{
    background-image: url('../../assests/images/aboutus-bg.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
section.aboutus{
    padding-bottom: 0;
}

.aboutrightside img{
    width: 90%;
}

.leftsideabout{
    padding-right: 50px;
}
.leftsideabout p{
    color: #242021;
    font-family: 'Myriad Pro Regular';
    font-size: 20px;
}
.leftsideabout .readmore{
    background: #febd19;
    padding: 8px 30px 3px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Myriad Pro Regular";
    text-transform: uppercase;
    display: inline-block;
    color: #000000;
    box-shadow: 0px 5px 0px 0px #fe831c;
    cursor: pointer;
    margin-bottom: 60px;
}

@media screen  and (max-width : 993px){
    .leftsideabout{
padding-right: 0;

        text-align: center;
    }
    .aboutrightside{
        text-align: center;

    }
    .aboutrightside img{
        width: auto;
    }
}

@media screen  and (max-width : 600px){
    .leftsideabout p{
        font-size: 16px;
    }
    
}