.portfolio {
  background-color: #212121;
}

.portfolio h2.title {
  color: white;
}

.portfolio .portfolio-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.portfolio .portfolio-wrapper .imgsection {
  width: 20%;
}

.portfolio .portfolio-wrapper .imgsection img {
  width: 100%;
}
.portfolio .heading {
    display: flex;
   
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}
.portfolio .heading b{
    color: #ffffff;
    padding: 0 10px;
    text-transform: uppercase;
    font-family: 'Myriad Pro Regular';
    letter-spacing: 0.5px;
    cursor: pointer;
}
.portfolio .heading b.active{
    color:  #ff831f;
}

@media screen and (max-width : 1200px) {
    .portfolio .portfolio-wrapper .imgsection {
        width: 33%;
        margin: auto;
    }

}


@media screen and (max-width : 768px) {
    .portfolio .portfolio-wrapper .imgsection {
        width: 50%;
    }

}

@media screen and (max-width : 500px) {
    .portfolio .portfolio-wrapper .imgsection {
        width: 100%;
    }

}